:root {
  --colors-fills-secondary: rgba(120, 120, 128, 0.16);
  --colors-labels-vibrant-secondary: rgba(153, 153, 153, 1);
}

[data-colors-mode="light"] {
  --colors-fills-secondary: rgba(120, 120, 128, 0.16);
}

[data-colors-mode="dark"] {
  --colors-fills-secondary: rgba(120, 120, 128, 0.32);
}

[data-colors-mode="IC-light"] {
  --colors-fills-secondary: rgba(120, 120, 128, 0.24);
}

[data-colors-mode="IC-dark"] {
  --colors-fills-secondary: rgba(120, 120, 128, 0.4);
}
